<body>
  <h1>Books</h1>
  <p>This is the text of the other page and includes an photo of some street art in Chicago.</p>
  <ul>
    <li>Book 1</li>
    <li>Book 2</li>
    <li>Book 3</li>
    <li>Book 4</li>
  </ul>
  <p>And it links back to our <a href="/">welcome page</a>.</p>
</body>
