<body>
  <h1>Editing Book (with validation)</h1>
  <form action="/books/<%= @book['id'] %>/save" method="post" >
    <p>
      <b>Title:</b>
      <input id="title" name="title" value="<%= @book['title'] %>" placeholder="Enter book title" />
      <span id="title-required" class="required-field-message"></span>
    </p>
    <p>
      <b>Author:</b>
      <input id="author" name="author" value="<%= @book['author'] %>" placeholder="Enter book author" />
    </p>
    <p>
      <b>Year:</b>
      <input id="year" name="year" value="<%= @book['year'] %>" />
    </p>
    <p>
      <input id="saveButton" name="saveButton" type="submit" value="Save" />
    </p>
  </form>

  <script>
    /*
     * Defines a function to validate that the title is not empty
     */
    var validateTitle = function() {
      const titleEl = document.getElementById("title");
      const titleReqEl = document.getElementById("title-required");
      if (titleEl.value.trim() === "") {
        titleReqEl.innerHTML = "This field is required";
        return false;
      } else {
        titleReqEl.innerHTML = "";
        return true;
      }
    }

    /*
     * When the "title" textbox changes...
     */
    document.getElementById("title").addEventListener("change", (event) => {
      validateTitle();
    });

    /*
     * When the "saveButton" is clicked.
     */
    document.getElementById("saveButton").addEventListener("click", (event) => {
      if (validateTitle() == false) {
        event.preventDefault()
      }
    });
  </script>
</body>
