<body>
  <h1>New Book</h1>
  <form action="/books/new" method="post" >
    <p>
      <b>Title:</b> <input id="title" name="title" />
    </p>
    <p>
      <b>Author:</b> <input id="author" name="author" />
    </p>
    <p>
      <b>Year:</b> <input id="year" name="year" />
    </p>
    <p>
      <input type="submit" value="Save" />
    </p>
  </form>
</body>
