<header>
  <h1>Hello World (fancy edition)</h1>
</header>
<div>
  <p>
    This is my first web page, and it has many paragraphs
  </p>
  <p>
    This paragraph is so fancy it even has text
    in <b>bold</b> and <i>italics</i>.
  </p>
  <p>And here is a list of programming languages:</p>
  <ul>
    <li>Ruby</li>
    <li>Java</li>
    <li>Python</li>
  </ul>
  <p>This is a quote by <a href="https://www.ursulakleguin.com/a-rant-about-technology" target="_blank">Ursula K. Le Guin</a></p>
  <blockquote>
    "Technology is the active human interface with the material world."
  </blockquote>
  <p class="important-paragraph">
    This paragraph is very important.
  </p>
  <p>
    We even have a <a href="hello-world.html">link to our original hello-world page</a>.
  </p>
  <p>
    This paragraph even has a <button id="do-nothing-button">button</button> that does nothing
  </p>
  <!-- this is multi-line a comment, the browser ignores it
    (i.e. it does not show on the page) -->
  <p class="important-paragraph">
    This paragraph is also very important.
  </p>
</div>
<div>
  <p>And here is more content and a photo<p>
  <img src="chicago-street-art.jpg" alt="Chicago street art"/>
</div>
<footer>
  This is the footer of the page.
</footer>