<body>
  <h1>Welcome to your first web app</h1>
  <p>You are on your way to beat Google :)</h1>
  <p><img src="chicago-street-art.jpg" /></p>
  <p>And here is a link to a <a href="books">list of books</a>.</p>
</body>
